[run]
omit =
    config/settings/prod.py
    config/settings/staging.py
    config/asgi.py
    config/wsgi.py
    apps/core/management/commands/seed_staging.py

[report]
exclude_lines =
    pragma: no cover
    if TYPE_CHECKING:
